@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&display=swap');

.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.fbHeading{
  /* border: 1px solid white; */
  margin-top: 50px;
  width: 360px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fbHeading>h1 {
  margin: 0;
  color: #3498db;
  font-family: 'Poppins';
  font-size: 40px;
  font-weight: bolder;
}
.fbHeading > .fbIcon{
  width: 50px;
  height: 50px;
}

.facebook-post {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;

}



.post-header {
  background-color: white;
  padding: 15px 10px 1px 10px;
  width: 100%;
  height: 100%;
  margin-top: 50px;


}


.brand {
  display: flex;

}

.brand>p {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 15px;
  color: #3498db;
  font-family: 'Poppins';
  font-weight: 500;
}


.post-description {
  margin-top: 10px;
  font-size: 15px;
  color: black;
  font-family: 'Poppins';
  font-weight: 350;

}

.brand>img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 10px;
}

.grid-container {
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 0px;
}
.footter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.footter>p {
  color: black;
  font-size: 10px;
  font-family: 'Poppins';

}



.btnsBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins';
  padding: 10px 10px 10px 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.customBtn {
  background-color: white;
  border: none;
  color: black;
  font-size: 12px;
  font-family: 'Poppins';
  border-radius:7%;
}

.customBtn:hover {
  background-color: rgba(210, 212, 213, 0.5);
}

.customBtn:active {
  background-color: #1f618d;
}

.emoji-popover > span{
  cursor: pointer;
}